{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="col-md-9 mx-auto">
    <div class="row">
        <div class="col-5">
            <div class="mt-2">
                <div class="col PHOTO_DIV">
                    <img src="{{ item.photo.url }}" width="300px" alt="" class="PHOTO_BRDR">
                </div>
            </div>
        </div>
        <div class="col-6 px-0">
            <div class="px-2">
                <h2> {{ item.name | upper }} </h2>
                <h6> (<a href="{{ item.producer.get_absolute_url }}">
                    {{ item.producer | upper }}</a>)</h6>
                <h4 class="PROD_DET_PRICE">&#8381 {{ item.price }}
                    {% if item.sale %}
                    <del class="PROD_DET_OLD_PRICE">{{ item.old_price }}</del>
                    {% endif %}
                </h4>
            </div>
            <nav class="navbar navbar-expand-lg bg-light py-1">
                <div class="container-fluid">
                    <div>
                        <p> {{ item.description | safe | linebreaks }} </p>
                    </div>
                    <div class="text-end">
                        <a href="{% url 'user:add_wishlist' item.id %}"
                           class="btn btn-outline-primary CART_BUTTON p-2 rounded-circle mx-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                 class="bi bi-suit-heart" viewBox="0 0 16 16">
                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg bg-light ADD_TO_CART">
                <div class="container-fluid">
                    <div class="col-6 CART_QTY">
                        <label for="select">Количество: </label>
                        <select id="select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-outline-primary CART_BUTTON NO_BRDR" type="submit"
                                id="add_to_cart" data-index="{{ item.id }}" value="{{ item.id }}">
                            Add to cart
                        </button>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <div class="mt-3">
        <hr>
        <div class="PRODUCT_DESCR">
            <p> {{ item.characteristics | safe | linebreaks }} </p>
        </div>
        <hr>
    </div>
</div>

{% endblock %}