{% load static %}


<div class="container">
    <div class="row SPEC_OFF_CONTAINER">
        <div class="py-3">
            <div>
                <a href="{% url 'store:by_special' %}" class="TEXT_YEL">
                    <p class="mb-0 SPEC_OFF_TITLE"> {{ title }}</p>
                </a>
            </div>
        </div>
        <div class="px-5 pb-5">
            <div class="col-md-12">
                <div class="row row-cols-1 row-cols-md-5 g-3">
                    {% for item in products %}
                    <div class="col">
                        <div class="card h-100 PRODUCT_CARD">
                            <div>
                                <a href="{{ item.get_absolute_url }}">
                                    <img src="{{ item.photo.url }}" class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="card-body p-1 PROD_CARD">
                                <span class="card-text">
                                    <a href="{{ item.producer.get_absolute_url }}"
                                       class="">{{ item.producer }}</a></span>
                                <br>
                                <h5 class="card-title mb-0 PROD_CARD_TITLE">
                                    {{ item.name }}</h5>
                                <div>
                                    <h6 class="PROD_CARD_PRICE">
                                        &#8381 {{ item.price }}
                                        <del class="PROD_CARD_OLD_PRICE">
                                            {{ item.old_price }}
                                        </del>
                                    </h6>

                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-outline-primary CART_BUTTON" id="add_to_cart"
                                            data-index="{{ item.id }}" value="{{ item.id }}">
                                        <img src="{% static 'img/cart2.png' %}" class="card-img-top CART_IMAGE"
                                             alt="Oops...">
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <span> Try something else, please! </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
