{% extends 'base.html' %}

{% block title %}{{ block.super }} - Регистрация{% endblock %}


{% block content %}

<div class="container d-flex justify-content-center">

    <div class="FORMA">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class=" text-center">
                <button type="submit" class="btn btn-outline-primary CART_BUTTON btn-block">Зарегистрироваться</button>
            </div>
        </form>
        <div class=" text-center">
            <a href="{% url 'user:login' %}"><p class="mt-2"> Уже есть аккаунт? </p></a>
        </div>

    </div>


</div>
{% endblock %}