{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} - Wishlist{% endblock %}

{% block navigation %}
{% include 'user/inc/_profile_navigation.html' %}
{% endblock %}


{% block content %}
<div class="container d-flex justify-content-center">
    <div class="px-5 pb-5">
        <div class="col-md-12">
            <div class="row row-cols-1 row-cols-md-5 g-3">
                {% for item in wishlist %}
                <div class="col">
                    <div class="card h-100 PRODUCT_CARD">
                        <div>
                            <a href="{{ item.get_absolute_url }}">
                                <img src="{{ item.photo.url }}" class="card-img-top" alt="...">
                            </a>
                        </div>
                        <div class="card-body p-1 PROD_CARD">
                                <span class="card-text">
                                    <a href="{% url 'store:prdcr' item.producer_id %}"
                                       class="">{{ item.producer }}</a></span>
                            <br>
                            <h5 class="card-title mb-0 PROD_CARD_TITLE">
                                {{ item.name }}</h5>
                            <div>
                                <h6 class="PROD_CARD_PRICE">
                                    &#8381 {{ item.price }}
                                    <del class="PROD_CARD_OLD_PRICE">
                                        {{ item.old_price }}
                                    </del>
                                </h6>

                            </div>
                            <div class="mb-3">
                                <button class="btn btn-outline-primary CART_BUTTON" type="submit">
                                    <img src="{% static 'img/cart2.png' %}" class="card-img-top CART_IMAGE"
                                         alt="Oops..."> Add
                                    to cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <span> Вы не добавили товары в список желаний. </span>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}