{% extends 'base.html' %}

{% block title %}{{ block.super }} - Сброс пароля{% endblock %}


{% block content %}
<div>
    {% if 'email' in request.get_full_path %}
        <p class="d-block text-center">
            Мы отправили вам письмо для сброса пароля
        </p>
    {% endif%}

    {% if 'complete' in request.get_full_path %}
        <p class="d-block text-center">Новый пароль сохранен</p>
        <a href="{% url 'user:login' %}"><p class="d-block text-center">Войти</p></a>
    {% endif%}

</div>
{% endblock %}