{% extends 'base.html' %}

{% block content %}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- STORE -->
            <div id="store" class="col-md-12">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select class="input-select">
                                <option value="0">Popular</option>
                                <option value="1">Position</option>
                            </select>
                        </label>

                        <label>
                            Show:
                            <select class="input-select">
                                <option value="0">20</option>
                                <option value="1">50</option>
                            </select>
                        </label>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div>
                <!-- /store top filter -->

                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    {% for item in products %}
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                {% if item.photo %}
                                <img src="{{ item.photo.url }}" alt="">
                                {% endif %}
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{ item.producer }}</p>
                                <h3 class="product-name"><a href="#">{{ item.name }}</a></h3>
                                <h4 class="product-price">{{ item.price }}
                                    <del class="product-old-price">{{ item.price | add:3100 }}</del>
                                </h4>
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                                    </button>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /product -->
                </div>
                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty"> CAN WRITE SOMETHING LATER </span>

                    {% if page_obj.has_other_pages %}
                        <ul class="store-pagination">
                            {% for p in page_obj.paginator.page_range %}
                            {% if page_obj.number == p %}
                            <li class="active"> {{ p }}</li>
                            {% else %}
                            <li><a href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% endblock %}