{% extends 'base.html' %}
{% load static %}

{% block navigation %}
{% include 'store/inc/_navigation.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-9 mx-auto">
        <div class="row">
            <div class="col-5">
                <div class="mt-2" >
                    <div class="col PHOTO_DIV">
                        <img src="{{ item.photo.url }}" width="300px" alt="" class="PHOTO_BRDR">
                    </div>
                </div>
                <div class="mt-2 PHOTO_DIV">
                    <div class="row ml-1">
                        <div class="col p-0 m-1">
                            <img src="{{ item.photo.url }}" width="95px" alt=""
                                 class="PHOTO_BRDR"></div>
                        <div class="col p-0 m-1">
                            <img src="{{ item.photo.url }}" width="95px" alt="" class="PHOTO_BRDR"></div>
                        <div class="col p-0 m-1">
                            <img src="{{ item.photo.url }}" width="95px" alt="" class="PHOTO_BRDR"></div>
                    </div>
                </div>

            </div>
            <div class="col-7 px-5">
                <h2> {{ item.name | upper }} </h2>

                <h6 class=""> ( {{ item.producer | upper }} )</h6>

                <h4 class="PROD_DET_PRICE">
                    &#8381 {{ item.price }}
                    {% if item.sale %}
                    <del class="PROD_DET_OLD_PRICE">
                        {{ item.old_price }}
                    </del>
                    {% endif %}
                </h4>
                <div class="ADD_TO_CART" >
                    <button class="btn btn-outline-primary CART_BUTTON"
                            type="submit">
                        <img src="{% static 'img/cart2.png' %}" class="card-img-top CART_IMAGE" alt="Oops..."> Add to cart
                    </button>
                </div>
                <p> {{ item.description | safe | linebreaks }} </p>
            </div>

            <div>
                <hr>
                <div class="PRODUCT_DESCR">
                    <p> {{ item.characteristics | safe | linebreaks }} </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}