{% load store_tags %}

<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                
                {% if request.path == '/' %}
                <li class="active"><a href="{% url 'home' %}">Главная</a></li>
                {% else %}
                <li><a href="{% url 'home' %}">Главная</a></li>
                {% endif %}

                {% get_categories as categories %}
                {% for cat in categories %}
                {% if request.path == cat.get_absolute_url %}
                <li class="active"><a href="{{ cat.get_absolute_url }}"> {{ cat.name }}</a></li>
                {% else %}
                <li><a href="{{ cat.get_absolute_url }}"> {{ cat.name }}</a></li>
                {% endif %}
                {% endfor %}

            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
