{% extends 'base.html' %}
{% load static %}

{% block navigation %}
{% include 'blog/inc/_navigation.html' %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <p></p>
        </div>
        <div class="col-md-10">
            <div class="card POST_BRDR">
                <div class="card-body p-0">
                    <div class="media">
                        <img class="d-flex mx-4 my-2 float-start" width="420" src="{{ post.main_photo.url }}" alt="">
                        <div class="media-body">
                            <h2 class="my-3"> {{ post.title | upper }}</h2>
                            <div  class="mx-4 mb-4">
                                <p> {{ post.content |linebreaks }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}