{% load blog_tags %}

<div class="container my-6 NAV">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-6">
        <div class="row mx-auto">
            {% if request.path == '/store/' %}
            <a class="col" href="{% url 'home' %}"> Магазин! </a>
            {% else %}
            <a class="col" href="{% url 'home' %}"> Магазин! </a>
            {% endif %}

            {% if request.path == '/blog/' %}
            <a class="col" href="{% url 'blog:all_posts' %}">Новое</a>
            {% else %}
            <a class="col" href="{% url 'blog:all_posts' %}">Новое</a>
            {% endif %}

            {% get_categories as categories %}
            {% for cat in categories %}
            {% if request.path == cat.get_absolute_url %}
            <a class="col" href="{{ cat.get_absolute_url }}">{{ cat.title }}</a>
            {% else %}
            <a class="col" href="{{ cat.get_absolute_url }}">{{ cat.title }}</a>
            {% endif %}
            {% endfor %}
        </div>
        <form class="d-flex mb-1 mx-auto" action="{% url 'blog:search' %}" method="get">
            <input class="form-control me-1 SEARCH" type="text" name="search"
                   placeholder="Search">
            <input class="btn btn-outline-primary py-0 px-2 SEARCH_BUTTON"
                   type="submit" value="search">
        </form>

    </nav>
</div>

<br>