{% load cache %}
{% cache 30 footer %}

{% load store_tags %}

{% get_store_info as store %}
{% get_categories as categories %}
<br>
<br>
<div class="FOOTER">
    <br>
    <div class="container">
        <footer class="py-4">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">

                </div>

                <div class="col-6 col-md-3 mb-3">
                    <h5 class="FOOTER_TITLE">
                        Контакты </h5>
                    <ul class="nav flex-column text-center">
                        <li class="nav-item mb-2"> {{ store.phone }}</li>
                        <li class="nav-item mb-2"> {{ store.email }}</li>
                        <li class="nav-item mb-2"> {{ store.address }}</li>
                        <li class="nav-item mb-2 mx-auto FOOTER_LINKS">
                            <a href="{% url 'contact_form' %}" class="nav-link p-0">
                                Связаться с нами</a>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-md-3 mb-3">
                    <h5 class="FOOTER_TITLE">
                        Категории</h5>
                    <ul class="nav flex-column">
                        {% for cat in categories %}
                        <li class="nav-item mb-2 mx-auto FOOTER_LINKS">
                            <a href="{{ cat.get_absolute_url }}" class="nav-link p-0">
                                {{ cat.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-6 col-md-3 mb-3">
                    <h5 class="FOOTER_TITLE">
                        Информация</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2 mx-auto FOOTER_LINKS">
                            <a href="{% url 'store:about' %}" class="nav-link p-0">
                                О нас</a>
                        </li>
                        <li class="nav-item mb-2 mx-auto FOOTER_LINKS">
                            <a href="{% url 'store:ppol' %}" class="nav-link p-0">
                                Политика конфиденциальности</a></li>
                        <li class="nav-item mb-2 mx-auto FOOTER_LINKS">
                            <a href="{% url 'store:ord_ret' %}" class="nav-link p-0">
                                Политика возврата</a>
                        </li>
                        <li class="nav-item mb-2 mx-auto FOOTER_LINKS">
                            <a href="{% url 'store:terms' %}" class="nav-link p-0">
                                Условия пользования</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p class="SIGNATURE">&copy; 2022 Alexandra Sekirkina</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"/>
                        </svg>
                    </a></li>
                    <li class="ms-3"><a class="link-dark" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"/>
                        </svg>
                    </a></li>
                    <li class="ms-3"><a class="link-dark" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"/>
                        </svg>
                    </a></li>
                </ul>
            </div>
        </footer>
    </div>

</div>

{% endcache %}